body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.question-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-bottom: 10px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.answer {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%;
}

.answer:hover {
    background-color: #b5b1b1;
}