
.container-ranking{
    max-width: 60%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.game-history {
    padding: 20px;
    background-color: #725FEC;
    border-radius: 4em;
    margin-left: 5em;
    margin-right: 5em;
}

table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: collapse!important;
}

table th{
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #725FEC;
    color: white;
}

#cuerpoTabla tbody {
    background-color: white;
}

.see-more {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* Media Query para Tablets */
@media (max-width: 768px) {

    .container-ranking{
        max-width: 90%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}

/* Media Query para Dispositivos Móviles */
@media (max-width: 480px) {

    .container-ranking{
        max-width:100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}
