<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor - Pregunlam</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/lobby.css">
    <link rel="stylesheet" href="../public/editor.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>


    <style>
        /* Centrar el formulario de filtro */
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
            gap: 10px;
        }

        form label {
            font-size: 16px;
        }

        form select, form button {
            padding: 8px 16px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        form button {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        form button:hover {
            background-color: #45a049;
        }

        /* Centrar el contenedor de gráficos */
        .container-Graficos {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            margin: 20px 0;
        }

        .container-Graficos div {
            text-align: center;
        }

        .container-Graficos img {
            max-width: 100%;
            height: auto;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    {{>headerAdmin.mustache}}

    <div class="w3-center">
        <h2>Estadísticas</h2>
    </div>

    {{#message}}
        <div class="w3-panel w3-green w3-display-container">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
            <h4>{{message}}</h4>
        </div>
    {{/message}}

    <form method="POST" action="/administrador/filtrar">
        <label for="categoria">Filtro de Tiempo:</label>
        <select name="filtroTiempo" id="categoria">
            <option value="semana">Semana</option>
            <option value="mes">Mes</option>
            <option value="anio">Año</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <div class="container-Graficos"  id="graficos">
        <form action="generarPDF" method="post">
            {{#preguntasChartPath}}
                <div>
                    <h4>Cantidad de preguntas por categoría</h4>
                    <table>
                        <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#cantidadesCategoria}}
                        <tr>
                            <td>{{descripcion_categoria}}</td>
                            <td>{{numero_preguntas}}</td>
                        </tr>
                        {{/cantidadesCategoria}}
                        </tbody>
                    </table>
                    {{#cantidadesCategoriaSerial}}
                        <input type="hidden" value="{{cantidadesCategoriaSerial}}" name="valueTablaCategoria">
                    {{/cantidadesCategoriaSerial}}
                    <img src="../{{preguntasChartPath}}" alt="Gráfico de Preguntas por Categoría">
                    <input type="hidden" value="{{preguntasChartPath}}" name="valueGrafPreguntas">
                </div>
            {{/preguntasChartPath}}
            {{#usuariosChartPath}}
                <div>
                    <h4>Porcentaje de usuarios por sexo</h4>
                    <table>
                        <thead>
                        <tr>
                            <th>Género</th>
                            <th>Porcentaje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#porcentajesSexo}}
                        <tr>
                            <td>{{descripcion_sexo}}</td>
                            <td>{{numero_usuario}}</td>
                        </tr>
                        {{/porcentajesSexo}}
                        </tbody>
                    </table>
                    {{#porcentajesSexoSerial}}
                        <input type="hidden" value="{{porcentajesSexoSerial}}" name="valueTablaSexo">
                    {{/porcentajesSexoSerial}}
                    <img src="../{{usuariosChartPath}}" alt="Gráfico de Usuarios por Sexo">
                    <input type="hidden" value="{{usuariosChartPath}}" name="valueGrafSexoUsers">
                </div>
            {{/usuariosChartPath}}

            {{#usuariosNuevosChartPath}}
                <div>
                    <h4>Cantidad de usuarios nuevos</h4>
                    <table>
                        <thead>
                        <tr>
                            <th>Rango</th>
                            <th>Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#rangos}}
                        <tr>
                            <td>{{mes_registro}}</td>
                            <td>{{numero_usuarios_nuevos}}</td>
                        </tr>
                        {{/rangos}}
                        </tbody>
                    </table>
                    {{#rangosSerial}}
                        <input type="hidden" value="{{rangosSerial}}" name="valueTablaNuevos">
                    {{/rangosSerial}}
                    <img src="../{{usuariosNuevosChartPath}}" alt="Gráfico de Usuarios Nuevos">
                    <input type="hidden" value="{{usuariosNuevosChartPath}}" name="valueGrafNuevosUsers">
                </div>
            {{/usuariosNuevosChartPath}}

            <div class="button-container w3-margin">
                <button type="submit" class="action-btn w3-green">Generar PDF</button>
            </div>
        </form>
    </div>

    <script>

        const filtroSeleccionado = "{{filtroTiempo}}";
        document.addEventListener("DOMContentLoaded", () => {

            if (filtroSeleccionado && filtroSeleccionado.trim() !== "") {
                const selectCategoria = document.getElementById("categoria");
                if (selectCategoria) {
                    selectCategoria.value = filtroSeleccionado;
                }
            }
        });

        /*function generarPDF() {
            // Obtener el contenido del div
            var contenido = document.getElementById("graficos").innerHTML;

            // Enviar el contenido al servidor para procesarlo con DOMPDF
            fetch('/generarPDF', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'contenido=' + encodeURIComponent(contenido)
            })
            .then(response => response.blob())
            .then(blob => {
                // Crear un enlace para descargar el PDF
                var link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = 'grafico_estadisticas.pdf';  // Nombre del archivo PDF
                link.click();
            })
            .catch(error => {
                console.error('Error al generar el PDF:', error);
            });
        }*/

        /*document.getElementById("generar-pdf").addEventListener("click", function() {
            // Seleccionamos el contenedor de los gráficos
            const container = document.getElementById("graficos");

            // Usamos html2canvas para capturar cada gráfico individualmente en el contenedor
            html2canvas(container).then(function(canvas) {
                // Crear un nuevo objeto jsPDF
                const { jsPDF } = window.jspdf;
                const pdf = new jsPDF();

                // Dimensiones de la página y márgenes
                const pageWidth = pdf.internal.pageSize.width;
                const pageHeight = pdf.internal.pageSize.height;
                const margin = 10;

                // Ajustamos el tamaño de las imágenes y la distancia entre ellas
                const imgWidth = pageWidth - 2 * margin;
                const imgHeight = (canvas.height / canvas.width) * imgWidth;

                // Inicializamos la posición en Y para la primera imagen
                let yOffset = margin;

                // Convertimos el canvas a una imagen PNG en formato Base64
                const imgData = canvas.toDataURL("image/png");

                // Agregamos la imagen al PDF, y verificamos si necesita una nueva página
                if (yOffset + imgHeight > pageHeight) {
                    pdf.addPage(); // Añadimos una nueva página si la imagen no cabe
                    yOffset = margin; // Reseteamos la posición en Y
                }
                pdf.addImage(imgData, 'PNG', margin, yOffset, imgWidth, imgHeight);

                pdf.save('grafico_estadisticas.pdf');
            });
        });*/
    </script>