<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor - Pregunlam</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/lobby.css">
    <link rel="stylesheet" href="../public/editor.css">
</head>
<body>

<div class="">
    {{>headerEditor.mustache}}

    <div class="button-container">
        <a class="action-btn edit" href="/administrador">Ver estadísticas </a>
        <a class="action-btn reports" href="/reportes">Reportes</a>
        <a class="action-btn create" href="/sugerencias">Preguntas sugeridas</a>
    </div>

    {{#message}}
        <div class="w3-panel w3-green w3-display-container">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
            <h4>{{message}}</h4>
        </div>
    {{/message}}

    <div class="">
        <img src="{{chartFilePath}}" alt="Gráfico de Preguntas por Categoría">
    </div>



    {{>footer.mustache}}
</div>


</body>
</html>
