<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunlam</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/lobby.css">
</head>
<body>
    {{>headerJugador.mustache}}
    <main class="container w3-center w3-padding">
        <h2>Cuenta Activada</h2>
        <form method="get" action="/activar/activada" class="w3-container w3-center" style="display: flex; flex-direction: column">
            <div>
                <label style="font-size: 1.4em">¡Su cuenta ha sido registrada exitosamente!</label>
            </div>
            <div class="w3-margin">
                <input type="submit" value="Ir al lobby" class="w3-button w3-round-xxlarge w3-yellow w3-hover-deep-purple w3-center" style="font-size: 20px;">
            </div>
        </form>
    </main>