{{#usuario}}
    <header class="header">
    <div class="logo">
        <img src="/public/images/logo.png" alt="logo.png">
        <a href="/lobby">
            <h3>Pregunlam</h3>
        </a>
    </div>
    <div class="welcome">
        <span>Bienvenido, {{nombreCompleto_usuario}}</span>
        <form action="/lobby/logout" method="post">
            <button type="submit" class="logout" id="btnCerrarSesion">Cerrar Sesión</button>
        </form>
    </div>
</header>
{{/usuario}}