
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Preguntados</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/public/lobby.css">
    <style>
        .respuesta-btn {
            width: 50%;
            background-color: rgba(76, 61, 153, 0.46);
            color: #000000;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        .respuesta-btn:hover {
            background-color: #f1c40f;
        }
        .img-categoria {
            width: 7em;
            height: 7em;
            border-radius: 50%;
            border: 3px solid #ffffff;
            background-color: white;
        }
    </style>

    <script >
        window.history.forward();
    </script>
</head>
<body>

    {{>headerJugador.mustache}}
    <main class="container">
        {{#pregunta}}
            <div style="background-color: {{color_categoria}}; color: white; max-width: 100%;" class="w3-center w3-margin container">
                <img src="{{img_categoria}}" alt="{{img_categoria}}" class="img-categoria w3-margin">
                <h2>{{interrogante_pregunta}}</h2>
                <div id="timer">Tiempo restante: <span id="countdown"></span></div>

            </div>
            <div style="margin-left: 31%">
                <form method="POST" action="/respuesta" class="w3-center" style="display: flex; flex-direction: column;">
                    <!-- Campo oculto para el id de la pregunta -->
                    <input type="hidden" name="id_pregunta" value="{{id_pregunta}}">

                    {{#respuesta}}
                        <!-- Botón para enviar el formulario con la respuesta seleccionada -->
                        <button type="submit" name="id_respuesta" value="{{id_respuesta}}" class="respuesta-btn w3-margin">{{descripcion_respuesta}}</button>
                    {{/respuesta}}
                </form>
            </div>
        {{/pregunta}}
        {{> audio.mustache}}
    </main>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var audio = new Audio('/public/sonido/timer.mp3'); // Cargar el audio
            var tiempoRestante = {{tiempoRestante}}; // Tiempo restante en segundos desde el controlador
            const countdownElement = document.getElementById("countdown");

            function actualizarCuentaRegresiva() {
                if (tiempoRestante > 0) {
                    countdownElement.textContent = tiempoRestante + " segundos";

                    // Reproducir el audio cuando queden 7 segundos
                    if (tiempoRestante === 7) {
                        audio.play().catch(function(error) {
                            console.error("No se pudo reproducir el audio: ", error);
                        });
                    }

                    tiempoRestante--;
                } else {
                    countdownElement.textContent = "Tiempo agotado";
                    window.location.href = "/jugar";
                }
            }

            setInterval(actualizarCuentaRegresiva, 1000);
        });
    </script>