<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby - Juego de Preguntas</title>
    <link rel="stylesheet" href="../public/lobby.css">
</head>
<body>
<div class="container">
    <div class="lobby-box">
        <h2>Bienvenido, <span id="nombreUsuario">Juan</span>!</h2>
        <p>Puntaje: <strong id="puntajeUsuario">1200</strong> puntos</p>

        <div class="actions">
            <button class="btn" id="btnNuevaPartida">Nueva Partida</button>
            <button class="btn" id="btnRanking">Ver Ranking</button>
            <button class="btn" id="btnRanking">Partidas Jugadas</button>
        </div>
        
    </div>
</div>
</body>
</html>
