

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunlam</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/public/lobby.css">
</head>
<body>
    {{>headerJugador.mustache}}
    {{#usuario}}
    <main class="container">
        <section class="" style="width: 80%; margin-left: 10%">
            <form class="form-box w3-container w3-center" action="/modificarPerfil/update" method="POST" enctype="multipart/form-data">
                <h2>Actualizar datos de usuario</h2>

                <div class="input-group w3-margin">
                    <input type="text" name="fullname" value="{{nombreCompleto_usuario}}" class="w3-input" required>
                </div>

                <div class="input-group w3-margin">
                    <select name="gender" class="w3-input" required>
                        <option value="masculino" {{selectedM}}>Masculino</option>
                        <option value="femenino" {{selectedF}}>Femenino</option>
                        <option value="x" {{selectedX}}>Prefiero no cargarlo</option>
                    </select>
                </div>

                <div id="map"></div>
                <input type="hidden" id="coordenadas" name="coordenadas">

                <div class="avatar">
                    <label>Foto de perfil actual</label>
                    <img src="{{img_usuario}}" alt="{{img_usuario}}" class="img-thumbnail">
                </div>

                <div class="input-group w3-margin">
                    <label for="profile-pic">Foto de perfil</label>
                    <input type="file" id="profile-pic" name="profile_pic" accept="image/png, image/jpeg" class="w3-input">
                </div>

                <div class="w3-margin">
                    <a href="/perfil" style="text-decoration: none">Cancelar</a>
                    <button type="submit" class="w3-btn w3-green">Actualizar</button>
                </div>
            </form>
        </section>
    </main>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let map = L.map('map').setView([{{pais_usuario}}], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            }).addTo(map);

            document.getElementById('coordenadas').value = [{{lat}},{{lng}}];

            let marcador;

            map.on('click', function(e) {
                let latlng = e.latlng;

                document.getElementById('coordenadas').value = latlng.lat.toFixed(6) + ',' + latlng.lng.toFixed(6);

                if (marcador) {
                    map.removeLayer(marcador);
                }

                // Crear un nuevo marcador
                marcador = L.marker(latlng).addTo(map);
            });
        });
    </script>
    {{/usuario}}


