

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunlam</title>
    <style>
        #map {
            height: 20em;
            width: 20em;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/public/lobby.css">

</head>
<body>

<div class="container">
    {{#usuario}}
        <header class="header">
            <div class="logo">
                <img src="/public/images/logo.png" alt="logo.png">
                <a href="/lobby">
                    <h3>Pregunlam</h3>
                </a>
            </div>
            <div class="welcome">
                <span>Bienvenido, {{nombreCompleto_usuario}}</span>
                <form action="/lobby/logout" method="post">
                    <button type="submit" class="logout" id="btnCerrarSesion">Cerrar Sesión</button>
                </form>
            </div>
        </header>
    {{/usuario}}

    {{#perfil}}
        <main>

            <article id="informacionDeUsuario">
                {{#message}}
                    <div class="w3-panel w3-red w3-display-container">
                        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                        <h4>{{message}}</h4>
                    </div>
                {{/message}}

                <section class="user-info">
                <div class="avatar">
                    <img src="{{img_usuario}}" alt="Avatar">
                </div>
                <div class="user-data">
                    <h2 id="datosUsuario">{{userName_usuario}}</h2>
                    <h3 id="datosUsuario">Tu puntuacion
                    {{#maxPuntaje_usuario}}
                        <span class="points">{{maxPuntaje_usuario}} puntos</span>
                    {{/maxPuntaje_usuario}}
                    {{^maxPuntaje_usuario}}
                        <span class="points">0 puntos</span>
                    {{/maxPuntaje_usuario}}</h3>
                </div>

                <div class="qr_class">
                    <img src="{{qrUsuario}}" id="qr_code">
                </div>
            </section>

            {{#perfilUsuario}}
                <div class="botonM w3-margin">
                    <a href="/modificarPerfil?id={{id_usuario}}">
                    <input id="botonModificar" type="button" value="Modificar perfil" class="w3-btn w3-yellow">
                    </a>
                </div>
            {{/perfilUsuario}}

                <div id="map" class="w3-container w3-center" style="width: 50%; margin: auto; margin-bottom: 8%"></div>

                <section class="game-history w3-container w3-center "  >
                    <table class="w3-center w3-text-white">
                        <thead>
                        <tr>
                            <th>Partida</th>
                            <th>Puntos</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#partidas}}
                            <tr class="partida-row"  style="display: none;" >
                                <td>{{fechaHora_partida}}</td>
                                <td>{{puntaje_partida}}</td>
                            </tr>
                        {{/partidas}}
                        </tbody>
                    </table>
                    <button id="verMas"  class="see-more" onclick="toggleMostrar()">Ver más</button>
                </section>
            </article>
            {{> audio.mustache}}
        </main>

    <footer class="w3-center">
        <div class="footer-container w3-gray">
            <h4 class="w3-text-white"><b>Seguinos</b></h4>
            <div class="footer-icons">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="copyright w3-dark-gray w3-text-white">
            <p>2024 - Grupo 3</p>
        </div>
    </footer>
</div>
</body>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let map = L.map('map').setView([{{lat}},{{lng}}], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);
    });


    document.addEventListener("DOMContentLoaded", function() {
        let partidas = document.querySelectorAll(".partida-row");
        let mostrarInicial = 3; // Cantidad de partidas a mostrar inicialmente
        let mostrandoMas = false; // Estado para saber si estamos mostrando más o menos

        // Función para mostrar solo las primeras 3 partidas al cargar la página
        function mostrarIniciales() {
            partidas.forEach((partida, index) => {
                partida.style.display = index < mostrarInicial ? "table-row" : "none";
            });
            document.getElementById("verMas").textContent = "Ver más";
            mostrandoMas = false;
        }

        // Llama a la función al cargar
        mostrarIniciales();

        // Función para alternar entre "Ver más" y "Ver menos"
        window.toggleMostrar = function() {
            if (mostrandoMas) {
                // Si se está mostrando más, volvemos a mostrar solo los iniciales
                mostrarIniciales();
            } else {
                // Mostrar todas las partidas
                partidas.forEach(partida => partida.style.display = "table-row");
                document.getElementById("verMas").textContent = "Ver menos";
                mostrandoMas = true;
            }
        };
    });




</script>
{{/perfil}}
</html>


