

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunlam</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/public/lobby.css">

</head>
<body>
<div class="container">
    {{#usuario}}
        <header class="header">
            <div class="logo">
                <a href="/lobby">
                    <h3>Pregunlam</h3>
                </a>
            </div>
            <div class="welcome">
                <span>Bienvenido, {{nombreCompleto_usuario}}</span>
                <form action="/lobby/logout" method="post">
                    <button type="submit" class="logout" id="btnCerrarSesion">Cerrar Sesión</button>
                </form>
            </div>
        </header>
    {{/usuario}}

    {{#perfil}}
        <main>

            <article id="informacionDeUsuario">

            <section class="user-info">

                <div class="avatar">
                    <img src="{{img_usuario}}" alt="Avatar">
                </div>
                <div class="user-data">
                    <h2 id="datosUsuario">{{userName_usuario}}</h2>
                    <h3 id="datosUsuario" > Tu puntuacion  {{#maxPuntaje_usuario}}
                        <span id="datosUsuario" class="points">{{maxPuntaje_usuario}} puntos</span>
                    {{/maxPuntaje_usuario}}
                        {{^maxPuntaje_usuario}}
                            <span  id="datosUsuario" class="points">0 puntos</span>
                        {{/maxPuntaje_usuario}}</h3>

                </div>

                <div class="qr_class">
                    <img id="qr_code" src="../public/images/qr.jpg">
                </div>




            </section>

            {{#perfilUsuario}}
                <div class="botonM">
                    <a href="/modificarPerfil?id={{id_usuario}}">
                    <input id="botonModificar" type="button" value="Modificar perfil" class="w3-btn w3-yellow">
                    </a>
                </div>
            {{/perfilUsuario}}

            <section class="game-history">
                <table id="cuerpoTabla">
                    <thead>
                    <tr>
                        <th>Partida</th>
                        <th>Puntos</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr>
                        <td>asasa</td>
                        <td>asas</td>
                    </tr>
                    <tr>
                        <td>asas</td>
                        <td>asas</td>
                    </tr>
                    <tr>
                        <td>asas</td>
                        <td>asasa</td>
                    </tr>
                    </tbody>
                </table>
                <button class="see-more">Ver más</button>
            </section>

            {{#message}}
                <p style="color: #42a501;">{{message}}</p>
            {{/message}}

            </article>
        </main>
    {{/perfil}}


</div>
</body>
</html>


