<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Juego de Preguntas</title>
    <link rel="stylesheet" href="../public/register.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 20em;
            width: 20em;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="form-box" action="/register/registerUser" method="POST" enctype="multipart/form-data">
        <h2>Registro</h2>

        <div class="input-group">
            <input type="text" name="fullname" placeholder="Nombre completo" required>
        </div>
        <div class="input-group">
            <input type="text" name="username" placeholder="Nombre de usuario" required>
        </div>
        <div class="input-group">
            <input type="email" name="email" placeholder="Correo electrónico" required>
        </div>
        <div class="input-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div class="input-group">
            <input type="password" name="repeat_pass" placeholder="Repetir contraseña" required>
        </div>
        <div class="input-group">
            <input type="date" name="birth_year" placeholder="Año de nacimiento" required>
        </div>
        <div class="input-group">
            <select name="gender" required>
                <option value="" disabled selected>Sexo</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="x">Prefiero no cargarlo</option>
            </select>
        </div>

        <!-- <div class="input-group">
            <input type="text" name="country" placeholder="País" required>
        </div>
        <div class="input-group">
            <input type="text" name="city" placeholder="Ciudad" required>
        </div> -->

        <div id="map"></div>
        <input type="hidden" id="coordenadas" name="coordenadas">

        <div class="input-group">
            <label for="profile-pic">Foto de perfil</label>
            <input type="file" id="profile-pic" name="profile_pic" accept="image/png, image/jpeg" required>
        </div>
        {{#message}}
            <div id="message" style="color: red; margin-bottom: 10px;">
                {{message}}
            </div>
        {{/message}}
        <button type="submit" class="btn">Registrarse</button>
        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
    </form>
</div>
</body>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let map = L.map('map').setView([-34.670554, -58.562810], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        let marcador;

        map.on('click', function(e) {
            let latlng = e.latlng;
            if(latlng === null){
                latlng = [-34.670554,-58.562810];
            }
            document.getElementById('coordenadas').value = latlng.lat.toFixed(6) + ', ' + latlng.lng.toFixed(6);

            if (marcador) {
                map.removeLayer(marcador);
            }

            marcador = L.marker(latlng).addTo(map);
        });
    });
</script>
</html>