<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Juego de Preguntas</title>
    <link rel="stylesheet" href="../public/register.css">
</head>
<body>
<div class="container">
    <form class="form-box" action="/register/registerUser" method="POST" enctype="multipart/form-data">
        <h2>Registro</h2>

        <div class="input-group">
            <input type="text" name="fullname" placeholder="Nombre completo" required>
        </div>
        <div class="input-group">
            <input type="text" name="username" placeholder="Nombre de usuario" required>
        </div>
        <div class="input-group">
            <input type="email" name="email" placeholder="Correo electrónico" required>
        </div>
        <div class="input-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div class="input-group">
            <input type="password" name="repeat_pass" placeholder="Repetir contraseña" required>
        </div>
        <div class="input-group">
            <input type="number" name="birth_year" placeholder="Año de nacimiento" required>
        </div>
        <div class="input-group">
            <select name="gender" required>
                <option value="" disabled selected>Sexo</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="No especificar">Prefiero no cargarlo</option>
            </select>
        </div>
        <div class="input-group">
            <input type="text" name="country" placeholder="País" required>
        </div>
        <div class="input-group">
            <input type="text" name="city" placeholder="Ciudad" required>
        </div>
        <div class="input-group">
            <label for="profile-pic">Foto de perfil</label>
            <input type="file" id="profile-pic" name="profile_pic" required>
        </div>
        {{#message}}
            <div id="message" style="color: red; margin-bottom: 10px;">
                {{message}}
            </div>
        {{/message}}
        <button type="submit" class="btn">Registrarse</button>
        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
    </form>
</div>
</body>
</html>