<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Preguntados</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/lobby.css">
    <style>
        .respuesta-btn {
            width: 50%;
            background-color: rgba(76, 61, 153, 0.46);
            color: #000000;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        .respuesta-btn:hover {
            background-color: #f1c40f;
        }
        .img-categoria {
            width: 7em;
            height: 7em;
            border-radius: 50%;
            border: 3px solid #ffffff;
            background-color: white;
        }
        .color {
            background-color: #9458ef;
            color: white;
        }
    </style>

</head>
<body>
{{> audio.mustache}}
<div class="container">
    {{#usuario}}

        <header class="header">
            <div class="logo">
                <img src="/public/images/logo.png" alt="logo.png">
                <a href="/lobby">
                    <h3>Pregunlam</h3>
                </a>
            </div>
            <div class="welcome">
                <span>Bienvenido, {{nombreCompleto_usuario}}</span>
                <form action="/lobby/logout" method="post">
                    <button type="submit" class="logout" id="btnCerrarSesion">Cerrar Sesión</button>
                </form>
            </div>
        </header>

        {{#pregunta}}
            <div style="background-color: {{color_categoria}}; color: white; max-width: 100%; max-height: 70%"
                 class="w3-center w3-margin container">
                <img src="../{{img_categoria}}" alt="{{img_categoria}}" class="img-categoria w3-margin">
                <h2>{{interrogante_pregunta}}</h2>
            </div>
        {{/pregunta}}

        {{#message}}
            <div style="margin-left: 31%">
                <div class="w3-container">
                    <h2>{{message}}</h2>
                    {{#respuesta}}
                        <h3>Respuesta correcta: {{respuesta}}</h3>
                        <h3>Puntaje final: {{puntaje_final}}</h3>
                    {{/respuesta}}
                </div>
                <form method="POST" action="#" class="w3-center" style="display: flex; flex-direction: column;">
                    <button  value='{{message}}' name="continuar" class="respuesta-btn w3-margin">Continuar</button>
                    <!-- <a href="#">reportar</a> -->
                    <button type="button" value='reportar' class="respuesta-btn w3-margin" onclick="abrirModal()">Reportar</button>
                </form>
            </div>
        {{/message}}

    {{/usuario}}
    <footer class="w3-center">
        <div class="footer-container w3-gray">
            <h4 class="w3-text-white"><b>Seguinos</b></h4>
            <div class="footer-icons">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="copyright w3-dark-gray w3-text-white">
            <p>2024 - Grupo 3</p>
        </div>
    </footer>
</div>
<!-- Modal para reporte -->
<div id="modalReporte" class="w3-modal" style="display:none;">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container color">
            <span onclick="cerrarModal()" class="w3-button w3-display-topright">&times;</span>
            <h2>Reportar Pregunta</h2>
        </header>
        <div class="w3-container">
            <form id="formReporte" method="POST" action="/respuesta/reportar">
                <label for="motivoReporte">Motivo del Reporte:</label>
                <input type="text" id="motivoReporte" name="motivo_reporte" required class="w3-input">
                <input type="hidden" id="fechaReporte" name="fecha_reporte">
                <input type="hidden" id="idUsuario" name="id_usuarioMandado" value="{{id_usuario}}">
                <input type="hidden" id="idPregunta" name="id_pregunta" value="{{pregunta.id_pregunta}}">
                <button type="submit" class="w3-button color w3-margin-top">Enviar Reporte</button>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    function abrirModal() {
        const modal = document.getElementById('modalReporte');
        const fechaActual = new Date().toISOString().slice(0, 19).replace('T', ' ');
        document.getElementById('fechaReporte').value = fechaActual;
        modal.style.display = 'block';
    }

    function cerrarModal() {
        document.getElementById('modalReporte').style.display = 'none';
    }
</script>

</html>