<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Preguntados</title>
    <link rel="stylesheet" href="../public/login.css">
</head>
<body>

 {{#message}}

 <h1>{{message}}</h1>



 <form method="POST" action="#">

    <button value='continuar'> continuar
    <button value='reportar'> reportar


     </form>



 {{/message}}


</body>
</html>