<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor - Pregunlam</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/lobby.css">
    <link rel="stylesheet" href="../public/editor.css">
</head>
<body>

<div class="">
    <header class="header">
        <div class="logo">
            <img src="/public/images/logo.png" alt="logo.png">
            <a href="/editor"><h3>Pregunlam - Editor</h3></a>
        </div>
        <div class="welcome">
            <span>Bienvenido, {{username}}</span>
            <form action="/editor/logout" method="post">
                <button type="submit" class="logout">Cerrar Sesión</button>
            </form>
        </div>
    </header>

    <div class="button-container">
        <a class="action-btn edit" href="/editor">Lista de preguntas</a>
        <a class="action-btn reports" href="/reportes">Reportes</a>
        <a class="action-btn create" href="/sugerencias">Preguntas sugeridas</a>
    </div>

    <main class="w3-margin">
        <h2>Preguntas sugeridas por usuarios</h2>
        <table>
            <thead>
            <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Fecha</th>
                <th>Categoría</th>
                <th>Usuario</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody id="tablaReportes">
            {{#preguntas}}
                <tr>
                    <td>{{interrogante_pregunta}}</td>
                    <td>{{descripcion_respuesta}}</td>
                    <td>{{fechaCreacion_pregunta}}</td>
                    <td>{{descripcion_categoria}}</td>
                    <td>{{userName_usuario}}</td>
                    <td>
                        <a href="/sugerencias/activar?id={{id_pregunta}}">
                        <button class="w3-btn w3-green" style="width: 100%; margin-bottom: 0.5em">Aprobar</button>
                        </a>
                        <a href="/modificarPregunta?id={{id_pregunta}}&estado=1">
                        <button class="w3-btn w3-yellow" style="width: 100%; margin-bottom: 0.5em">Modificar</button>
                        </a>
                        <a href="/sugerencias/desactivar?id={{id_pregunta}}">
                        <button class="w3-btn w3-red" style="width: 100%; margin-bottom: 0.5em">Rechazar</button>
                        </a>
                    </td>
                </tr>
            {{/preguntas}}
            </tbody>
        </table>
    </main>

    <footer class="w3-center">
        <div class="footer-container w3-gray">
            <h4 class="w3-text-white"><b>Seguinos</b></h4>
            <div class="footer-icons">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright w3-dark-gray w3-text-white">
            <p>2024 - Grupo 3</p>
        </div>
    </footer>
</div>
</body>
</html>
